<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" name="" id="word" oninput="enviar()">
    <button onclick="enviar()">Enviar</button>
    <p id="result"></p>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script>
    const socket = io('http://localhost:3000');
    socket.emit('welcome', {nome:'Helen Freitas'});

    socket.on('result', (data) => {
        console.log(data);
        const p = document.getElementById('result');
        p.innerHTML = data;
    })

    function enviar(){
        const input = document.getElementById('word');
        socket.emit('word', input.value);
    }
</script>
</html>