body{
    background-color: #FAFAFA;
    font-family: 'Courier New', Courier, monospace;
}

header{
    display: flex;
    justify-content: space-evenly;
    background-color: #FF7F11;
    border-bottom: 5px solid #53FF45;
    padding: 10px 20px;
}

h1{
    color: #FAFAFA;
    text-shadow: 4px 4px 0 black;
    font-family: 'VT323', monospace;
    font-size: 80px;
    font-weight: 500;
    text-align:center;
    margin: 15px;
}

img{
    width: 120px;
    height: 120px;
}

#actions{
    display: flex;
    align-items: center;
    text-align: center;
}

#box{
    height: 300px;
    width: 100%;
}


#actions{
    justify-content: space-around;
    padding: 35px 0;
}

form{
    /* display:inline-block; */
    background-color: #639FAB;
    box-shadow: 5px 5px 0 #000;
    border-radius: 5px;
}


#listGames{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 35px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

input{
    margin-bottom: 20px;
    border-radius: 5px;
    height: 40px;
    padding: 5px;
}

h2, h3{
    color: #FF7F11;
    text-shadow: 2px 2px 0 #000;
    margin-bottom: 40px;
}

form p{
    color: red;
    font-size: 12.5px;
    margin: 5px;
}

#div-table{
    margin: 0 auto;
    border-width: 1px;
    border:solid #639FAB;
    border-radius: 5px;
}
#thead-list-games{
    background-color: #639FAB;
    color: #FAFAFA;
    padding: 15px;
}

.col-titles{
    text-align: justify;
    margin: 5px;
}
.col-actions{
    margin: 5px;
}

button{
   /* display: inline-block;*/
    background-color: #FF7F11;
    color: #FAFAFA;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 30px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 0 black;
    transition: transform 50ms linear;
}

button:hover{
    transform: scale(1.05);
}

el{
    position:absolute;
    top:40%;
    left:20%;
    background-color:white;
}