body{
    background-color: #FAFAFA;
    font-family: 'Courier New', Courier, monospace;
}

header{
    display: flex;
    justify-content: space-evenly;
    background-color: #FF7F11;
    border-bottom: 5px solid #53FF45;
    padding: 10px 20px;
}

header > h1{
    color: #FAFAFA;
    text-shadow: 4px 4px 0 black;
    font-family: 'VT323', monospace;
    font-size: 80px;
    font-weight: 500;
    text-align:center;
    margin: 15px;
}

img{
    width: 120px;
    height: 120px;
}

#listGames{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 35px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

td{
    padding: 5px;
}

input{
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 5px;
}


#lisGames h2, h3{
    color: #FF7F11;
    text-shadow: 2px 2px 0 #000;
    margin-bottom: 40px;
}

#newGameModal p{
    text-align: center;
    color: red;
    font-size: 14px;
    margin: 5px;
}

#div-table{
    margin: 0 auto;
}

#table-list-games{
    border-width: 1px;
    border:solid #639FAB;
}

#thead-list-games{
    background-color: #639FAB;
    color: #FAFAFA;
    padding: 15px;
}

.col-titles{
    text-align: justify;
    margin: 5px;
}
.col-actions{
    margin: 5px;
}

button{
    background-color: #FF7F11;
    color: #FAFAFA;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 0 black;
    transition: transform 50ms linear;
}

tbody button{
    margin: 5px;
}

#button-create{
    display: flex;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 40px;
    width: 180px;
}
#div-button-create{
    margin: 0 auto;
}
#button-delete{
    background-color: gray;
}

button:hover{
    transform: scale(1.05);
}